{% extends 'base.html' %}

{% block content %}
<div class="details-page">
  <section>
    <p class="title"> code challenges • {{ challenge.title }} </p>
    <div class='show-challenge'>
      <div class="top-line">
        <span>{{ challenge.date }}</span>
      </div>
      <!-- REPLIT -->
      <div id="challenges">
        <iframe src="https://repl.it/@bartsw01/Fizz-Buzz-Python-Challenge?lite=true"
          id="MyFrame">
        </iframe>


        <div class="solutions-select">
          <select id="MySelectMenu" class="btn">
            <option value="https://repl.it/@bartsw01/Fizz-Buzz-Python-Challenge?lite=true">
              Python Challenge
            </option>
            <option value="https://repl.it/@bartsw01/Fizz-Buzz-Python-Challenge-Solution?lite=true">
              Python Solution
            </option>
          </select>
          <div id="iframeBtn">
            <button class="btn" onClick="newSrc();">submit</button>
          </div>
        </div>

      </div>


      <script>
        const newSrc = () => {
          let e = document.getElementById("MySelectMenu");
          let newSrc = e.options[e.selectedIndex].value;
          document.getElementById("MyFrame").src = newSrc;
        }
      </script>
      <!-- REPLIT ENDS -->
    </div>
    <p class='content'>{{ post.content }}</p>
  </section>

  <!-- COMMENTS -->
  {% if challenge.challengecomment_set.all %}
  <div class="comment-container">
    <table class="striped" class="responsive-table">
      <thead>
        <tr>
          <th class='tables'>Date</th>
          <th class='tables'>User</th>
          <th class='tables'>Comment</th>
          <th class='tables'>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for challengecomment in challenge.challengecomment_set.all %}
        <tr>
          <td class='tables'>{{ challengecomment.created_at }}</td>
          <td class='tables'>{{ challengecomment.user }}</td>
          <td class='tables'>{{ challengecomment.content }}</td>
          {% if user == challengecomment.user %}
          <td class='tables'><a href="{% url 'challenge_delete_comment' challengecomment.id %}">x</a></td>
          {% else %}
          <td></td>
          {% endif %}
        </tr>
        {% endfor%}
      </tbody>
    </table>
  </div>
  {% endif %}

<!-- COMMENTS FORM -->
<div class='comment-form'>
  <form action="{% url 'challenge_add_comment' challenge.id %}" method="post">
    {% csrf_token %}
    {{ challenge_comment_form.as_p }}
    <button class="btn" type="submit" value="add comment" name="action">
      add comment

    </button>
  </form>
</div>


<script>
  const  newSrc = () => {
   let e = document.getElementById("MySelectMenu");
   let newSrc = e.options[e.selectedIndex].value;
   document.getElementById("MyFrame").src = newSrc;
  }
</script>
{% endblock %}