{% extends 'base.html' %}

{% block content %}
<div class="index-page">
  <p class="title">code challenges • index</p>

  <div id="challenges">
    <iframe src="http://www.asmarterwaytolearn.com/js/index-of-exercises.html" id="iFrame">
    </iframe>
  </div>
</div>

<script>
  // const links = [
  //   "https://www.youtube.com/embed/O2nhbDOQOiA",
  //   "http://www.asmarterwaytolearn.com/js/index-of-exercises.html",
  //   "https://repl.it/@bartsw01/Python-Class-and-Instance?lite=true",


  // ];

  let i = 0;

  // const renew = setInterval(() => {
  //   document.getElementById("iFrame").src = links[i];
  //   if (links.length - 1 == i) {
  //     i = 0;
  //   }
  //   else i++;
  // }, 30000);
</script>

{% endblock %}