{% extends 'base.html' %}
{% block content %}

<div class="grid-container">
    <div class="code-today">
        <p class="title">today's challenge</p>
        <div class="code-block">
            <p>The code does not execute properly. Try to figure out why.</p>
            <div class="code-snippet">
                <p>def multiply(a,b):</p>
                <p class="indent">a*b</p>
            </div>
        </div>
        <p>5/7 | solution forum | 4 comments</p>
    </div>

    <div class="past-challenge left">
        <p class="title">past challenges</p>
        <div class="forum-lists">
            <ul>
                <li> 5/6 | python classes | 3 comments </li>
                <li> 5/6 | python classes | 3 comments </li>
                <li> 5/6 | python classes | 3 comments </li>
                <li> 5/6 | python classes | 3 comments </li>
                <li> 5/6 | python classes | 3 comments </li>
            </ul>
        </div>
    </div>

    <div class="free-forum right">
        <p class="title">free forum</p>
        <div class="forum-lists">
            <ul>
                <li> 5/6 | meetup | 3 comments </li>
                <li> 5/6 | meetup | 3 comments </li>
                <li> 5/6 | meetup | 3 comments </li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}