{% extends 'base.html' %}
{% block content %}

<div class="grid-container">
    <div class="code-today">
        <p class="home-titles" id="today-title">
            <a class='home-links' href="{% url 'challenges_index' %}">today's challenge</a>
        </p>
        <div class='home-challenge'>
            <!-- REPLIT -->
            <div id="home-challenges">
              <iframe src="https://repl.it/@bartsw01/Fizz-Buzz-Python-Challenge?lite=true"
                id="MyFrame">
              </iframe>
              <div class="solutions-select">
                <select id="MySelectMenu" class="btn">
                  <option value="https://repl.it/@bartsw01/Fizz-Buzz-Python-Challenge?lite=true">
                    Python Challenge
                  </option>
                  <option value="https://repl.it/@bartsw01/Fizz-Buzz-Python-Challenge-Solution?lite=true">
                    Python Solution
                  </option>
                </select>
                <div id="iframeBtn">
                  <button class="btn" onClick="newSrc();">submit</button>
                </div>
              </div>
            </div>  
            <script>
              const newSrc = () => {
                let e = document.getElementById("MySelectMenu");
                let newSrc = e.options[e.selectedIndex].value;
                document.getElementById("MyFrame").src = newSrc;
              }
            </script>
            <!-- REPLIT ENDS -->
          </div>
    </div>

    <div class="past-challenge">
      <p class="home-titles">        
          <a class='home-links' href="{% url 'challenges_index' %}">past challenges</a>
      </p>
      <table class="forum-lists">
        <tbody>
          {% for challenge in challenges %}
            <tr>
              <td class='home-tables'>{{ challenge.date }}</td>
              <td class='home-tables'><a class='links' href="/challenges/{{ challenge.id }}">{{ challenge.title }}</a></td>
              <td class='home-tables'>{{ challenge.challengecomment_set.all.count }} comments </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="free-forum">
      <p class="home-titles">
          <a class='home-links' href="{% url 'posts_index' %}">free forum</a>
      </p>
      <table class="forum-lists">
        <tbody>
          {% for post in posts %}
            <tr>
              <td class='home-tables'>{{ post.date }}</td>
              <td class='home-tables'><a class='links' href="/posts/{{ post.id }}">{{ post.title }}</a></td>
              <td class='home-tables'>{{ post.postcomment_set.all.count }} comments </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>


{% endblock %}