body {
    background-color: #766763;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    border: solid 10px #535c5c;
    font-family: 'Orator Std', 'Courier New', Courier, monospace;
    color: #c5bfbe;
    text-transform: lowercase;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    max-height: 5vh;
    text-align: right;
    color: #babcbc;
    border-right: solid 10px #bab5ae;
    border-left: solid 10px #bab5ae;
    border-bottom: solid 10px #bab5ae;
}

.block {
    background-color: #766763;
    display: flex;
    align-items: center;
}

.nav-wrapper {
    background-color: #766763;
    border-top: solid 10px #bab5ae;
    border-right: solid 10px #bab5ae;
    border-left: solid 10px #bab5ae;
    box-shadow: none!important;
    min-height: 75px;
}

.brand-logo {
    padding: 10px;
    text-align: right;
    color: whitesmoke;
}

.brand-logo:hover:not(.active) {
    background-color: #422a2a;
    padding-right: 40px;
}

.right {
    margin: 0px 20px;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'code code code code'
        'challenges challenges forum forum';
    min-height: 87.5vh;
}

.code-today {
    grid-area: code;
    background-color: #766763;
    border-top: solid 10px #bab5ae;
    border-right: solid 10px #bab5ae;
    border-left: solid 10px #bab5ae;
    display: grid;
    justify-content: center;
}

.past-challenge {
    grid-area: challenges;
    background-color: #766763;
    border-top: solid 10px #bab5ae;
    border-bottom: solid 10px #bab5ae;
    border-left: solid 10px #bab5ae;
}

.free-forum {
    grid-area: forum;
    background-color: #766763;
    border: solid 10px #bab5ae;
}


.title {
    background-color: #422a2a;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 16px;
    letter-spacing: .1em;
    color: #bab5ae;
}

.home-titles {
    background-color: #422a2a;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    font-size: 18px;
    letter-spacing: .1em;
    color: #bab5ae;
}

#today-title {
    width: 93vw;
    margin-bottom: 0px;
}

.code-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.code-block {
    color: black;
    background-color: #9a958e;
    margin: 20px 10px 0px 10px;
    justify-content: center;
    min-height: 30.5vh;
    width: 45vw;;
    padding: 5px;
}

.code-snippet {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 15px;
    background-color: #331f20;
    display: grid;
    padding: 0px 10px;
    margin: 10px;
    min-height: 18vh;
}

.indent {
    margin-left: 20px;
    margin-top: 0px;
    height: 50px;
}

.code-intro {
    padding: 0px 10px;
}

.forum-lists {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-page {
    background-color: #766763;
    border: solid 10px #bab5ae;
    min-height: 87.5vh;
}

.details-page {
    background-color: #766763;
    border: solid 10px #bab5ae;
    min-height: 87.5vh;

}

.form {
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Orator Std', 'Courier New', Courier, monospace;
    margin: 50px 200px;
}

.show-post {
    background-color: #331f20;
    color: #aba69f;
    margin: 15px;
    padding: 10px;
    display: grid;
}

.content {
    color: white;
    text-align: center;
    margin: 60px;
}

.btn {
    background-color: #422a2a;
    font-family: 'Orator Std', 'Courier New', Courier, monospace;
    box-shadow: none!important;
}

.btn:hover:not(.active) {
    background-color: #535c5c;
    box-shadow: none!important;
}

a {
    color: white;
    font-weight: bolder;
}

.links {
    padding: 10px;
    text-align: right;
}

.links:hover:not(.active) {
    font-weight: normal;
    background-color: #422a2a;
    color: white;
    padding: 10px;
}

.detail-links {
    display: flex;
    justify-content: flex-end;
}

.small {
    height: 20px;
    width: 20px;
    background-color: #331f20;
    color: white;
    display: flex;
    justify-content: center;
    border: none;
    margin-right: 3px;
    margin-left: 10px;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-left: 50px;
}

.inline-form {
    display: flex;
    margin-left: 8px;
}

.small:hover:not(.active) {
    background-color: #535c5c;
}

.comment-form {
    margin: 0px 18px;
}

.comment-container {
    margin: 0px 18px;
    color: white;
}

.tables {   
    text-align: center;
    max-width: 500px;
    padding-right: 10px;
}

.home-tables {   
    text-align: center;
    margin: auto;
    max-width: 150px;
}

*:focus {
    outline: none;
  }

.top-line {
    flex-flow: row wrap;
}

thead {
    color: whitesmoke;
    font-size: 16px;
}

/* |||||||||||||||| CHALLENGES DIV |||||||||||||||| */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  border: solid 10px #bab5ae;
  color: whitesmoke;
  text-transform: lowercase;
  text-shadow: 1px 1px 1px black;
}

header, main, .title, #challenges, footer {
  box-shadow: 3px -3px 5px black;
}

.block {
  background-color: rgb(190, 122, 98);
}

a.left {
  font: 60px snell roundhand;
  z-index: 100;
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 60px;
  text-shadow: 1px 1px 1px black;
}

nav ul a:hover {
  background-color: rgba(12, 12, 12, 0.38);
}

.index-page {
  background-image: url('https://cdn.shopify.com/s/files/1/0378/7109/products/IMG_1689_2019c671-30c2-44ff-8d2b-ea2b12d2942f_1024x1024.jpg?v=1528909343');
  border: solid 10px #bab5ae;
  height: 87.5vh;
}

.title {
  background-color: rgb(198, 188, 179);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 16px;
  letter-spacing: .1em;
  color: rgb(92, 89, 79);
  text-shadow: 1px 1px 1px black;
  border: 5px double;
}

#challenges {
  height: 625px;
  width: 90%;
  margin: 4em auto 0;
  border: 10px solid rgb(191, 122, 95);
}

iframe {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 992px) {
    nav.brand-logo {
        left: 150px;
    }
}