{% extends 'base.html' %}

{% block content %}
<div class="details-page">
  <section>
    <p class="title"> free forum • {{ post.title }} </p>
    <div class='show-post'>
      <div class="top-line">
        <span>{{ post.created_at }} • {{ post.user }}
          {% if post.categories.count %}
            {% for category in post.categories.all %}
            <span>• {{category.name}}</span>
            {% endfor %}
          {% endif %}
        </span>
        <span class='right'>
          {% if user == post.user %}
            <a class='links' href="{% url 'posts_update' post.id %}">edit post</a>
            <a class='links' href="{% url 'posts_delete' post.id %}">delete post</a>
          {% endif %}
        </span>
      </div>
      <p class='content'>{{ post.content }}</p>
      <div class="container">
        <div>
        {% for photo in post.photo_set.all %}
          <img class="responsive-img" src="{{ photo.url }}">
        {% empty %}
          <div class="center-align">no photos uploaded</div>
        {% endfor %}
        </div>      
        <form action="{% url 'add_photo' post.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
          {% csrf_token %}
          <input type="file" name="photo-file">
          <br><br>
          <input type="submit" class="btn" value="upload photo">
        </form>
      </div>
      <div>
          <div class="categories">
            {% if post.categories.count %}
              {% for category in post.categories.all %}
                <form class='inline-form' action="{% url 'unassoc_category' post.id category.id %}" method='post'>
                  {% csrf_token %}
                  <button type='submit' class='small' class='btn'>◉</button>
                  <span class='category'>{{category.name}}</span>
                </form>
              {% endfor %}
            {% endif %}
          </div>
          <br>
          <div class="categories"> 
            {% if user == post.user %}
              {% if categories.count %}
                {% for category in categories.all %}
                  <form class='inline-form' action="{% url 'assoc_category' post.id category.id %}" method='post'>
                    {% csrf_token %}
                  <button type='submit' class='small' class="btn">〇</button>
                  <span class='category'>{{category.name}}</span>
                  </form>
                {% endfor %}
              {% endif %}
            {% endif %}
          </div>
      </div>
    </div>
  </section>

  <!-- COMMENTS -->
  {% if post.postcomment_set.all %}
  <div class="comment-container">
    <table class="striped" class="responsive-table">
      <thead>
        <tr> 
          <th class='tables'>Date</th>
          <th class='tables'>User</th>
          <th class='tables'>Comment</th>         
          <th class='tables'>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for postcomment in post.postcomment_set.all %}
          <tr>
            <td class='tables'>{{ postcomment.created_at }}</td>
            <td class='tables'>{{ postcomment.user }}</td>
            <td class='tables'>{{ postcomment.content }}</td>          
          {% if user == postcomment.user %}
            <td class='tables'><a href="{% url 'post_delete_comment' postcomment.id %}">x</a></td>         
          {% else %}
            <td></td>
          {% endif %}
          </tr> 
        {% endfor%}
      </tbody>
    </table>
  </div>
  {% endif %}

   <!-- COMMENTS FORM -->
   <div class='comment-form'>
    <form action="{% url 'post_add_comment' post.id %}" method="post">
      {% csrf_token %}
      {{ post_comment_form.as_p }}
      <button class="btn" type="submit" value="add comment" name="action">
        add comment        
      </button>
    </form>
  </div>
{% endblock %}